throttle.min_peers.normal.set = 40
throttle.max_peers.normal.set = 52
throttle.min_peers.seed.set = 10
throttle.max_peers.seed.set = 52
throttle.max_uploads.set = 8
throttle.global_up.max_rate.set_kb   = 300
throttle.global_down.max_rate.set_kb = 1000
directory.default.set = ~/tmp/torrents
network.port_range.set               = 32268-32268
network.port_random.set              = no
network.http.ssl_verify_peer.set     = no
network.http.dns_cache_timeout.set   = 25
network.xmlrpc.size_limit.set        = 2M
file.prioritize_toc           = 1
pieces.hash.on_completion.set = no
system.umask.set              = 0027
system.file.allocate.set      = yes
dht.mode.set                  = auto
protocol.pex.set              = no
protocol.encryption.set       = allow_incoming,try_outgoing,enable_retry
schedule = low_diskspace,5,60,close_low_diskspace=4677M
schedule = watch_directory,5,5,"load.start=~/tmp/torrents/*.torrent,d.delete_tied="
