etc/xmonad/prompt-history
etc/xmonad/xmonad
etc/xmonad/xmonad-x86_64-linux
etc/xmonad/xmonad.errors
etc/xmonad/xmonad.hi
etc/xmonad/xmonad.o
etc/xmonad/xmonad.template.hs
etc/zsh/.zcompdump*
etc/zsh/.zdirs
etc/zsh/.zgen
