[Unit]
Description=Run imapsync-quick every 15 minutes
After=network.target

[Timer]
OnBootSec=30s
OnCalendar=*:0/10
Persistent=true

[Install]
WantedBy=timers.target
