[Unit]
Description=Run mailsync every 5 minutes
Wants=network.target
After=network.target

[Timer]
OnBootSec=30s
OnUnitActiveSec=5m
Unit=mailsync.service
Persistent=true

[Install]
WantedBy=timers.target
