[Unit]
Description=Run mbsync 5 minutes
After=network.target

[Timer]
OnBootSec=30s
OnUnitActiveSec=5m
Unit=mbsync.service
Persistent=true

[Install]
WantedBy=timers.target
