[Unit]
Description=getmail
StartLimitIntervalSec=300
StartLimitBurst=5
[Service]
ExecStart=/home/roland/.local/bin/getmail --quiet --idle=INBOX
Restart=on-failure
RestartSec=1s
[Install]
WantedBy=default.target
