[Unit]
Description=Run mailsync.service every 11 minutes
Wants=network.target
After=network.target

[Timer]
OnBootSec=11m
OnUnitActiveSec=11m
Unit=mailsync.service
Persistent=true

[Install]
WantedBy=timers.target
